body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #c8aaff;
}

.container {
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    margin: 0 auto; /* Center container horizontally */
    padding: 0 15px; /* Add padding for responsiveness */
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    max-width: 1800px; /* Same width as container */
    margin: 0 auto; /* Center container horizontally */
    padding: 0 15px; /* Add padding for small screens */
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: black; /* Ensure background is consistent */
    z-index: 1000; /* Ensure it stays on top of other content */
}

header {
    margin: 0;
    padding: 0;
}
.header-image {
    width: 100%;          /* Make the image take up the full width of the container */
    height: auto;         /* Maintain the aspect ratio */
    display: block;       /* Remove any extra spaces under the image */
}

.subtitle {
    font-size: 2.5rem; /* Adjust size to be half of h1 or as needed */
    display: inline; /* Ensure subtitle is inline */
    margin-left: 5px; /* Adjust spacing between title and subtitle if needed */
    vertical-align: baseline; /* Align vertically with the title text */
}

nav {
    width: 100%;
}

.nav-menu {
    max-width: 1800px; /* Same width as container */
    margin: 0 auto; /* Center horizontally */
    overflow: hidden; /* Hide overflow for animation */
    transition: max-height 0.3s ease-out; /* Smooth animation */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    box-sizing: border-box;
}

nav ul li {
    font-size: 1.5rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a {
    padding: 5px 55px 5px 15px;
    display: block;
}

/* Hamburger menu styles */
.hamburger {
    display: none; /* Hide by default */
    margin: 10px auto 0;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: relative;
}

/* Media Queries for responsive design */
@media (max-width: 720px) {
    header h1 {
        font-size: 1.5rem; /* Adjust size for smaller screens */
    }

    .subtitle {
        font-size: 0.75rem; /* Adjust size for smaller screens */
        display: block; /* Move subtitle below title */
        margin-left: 0; /* Remove margin for better spacing */
    }

    .nav-menu {
        display: none; /* Hide the menu by default on mobile */
    }

    .hamburger {
        display: block; /* Show hamburger menu button */
    }

    .nav-menu.active {
        display: flex; /* Show the menu when the hamburger is clicked */
    }
    /* Mobile menu styles */
    .nav-menu ul {
        flex-direction: row; /* Keep menu items in a row by default */
    }

    .nav-menu.active {
        display: flex; /* Show the menu when the hamburger is clicked */
        flex-direction: column; /* Stack menu items vertically */
        width: 100%; /* Ensure full width */
    }

    .nav-menu ul {
        flex-direction: column; /* Stack menu items vertically in mobile view */
        padding: 0; /* Remove any default padding */
    }

    .nav-menu ul li {
        margin: 10px 0; /* Stack vertically */
    }
    .footer-container {
        display: none;
    }
}

.footer-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-column {
    text-align: center;
}

.footer-column.contact {
    text-align: left;
    margin-left: 20px;
}

.footer-column.language-options {
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-column a:hover {
    color: #c8aaff;
}

.search-lang form {
    margin-bottom: 0;
}

input[type="text"] {
    align-content: right;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    margin-bottom: 10px;
}


.project-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.project-image {
    display: block;
    width: 50%; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop image if necessary */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 10); /* Transparent by default */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.project-title {
    color: white; /* Change to black to contrast with white background */
    font-size: 24px; /* Adjust size as needed */
    margin: 0;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.read-more {
    color: white; /* Change to black to contrast with white background */
    font-size: 16px; /* Adjust size as needed */
    margin-top: auto; /* Push to the bottom */
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
    margin-bottom: 20px; /* Adjust to move the text slightly up */
}

.project-link:hover .overlay {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white on hover */
    opacity: 1;
}

.project-link:hover .project-title,
.project-link:hover .read-more {
    opacity: 1;
}

main {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, p, ul {
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

p {
    text-align: left;
    font-weight: 200;
}

h3 {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    color: black;
    background-color: #d3d3d3;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

h4 {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
}

h5 {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

.subtitle {
    font-size: 0.7rem;
}

.project-columns {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 48%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 5px;
    margin-top: 10px;
}

.project-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-columns {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }
}