@font-face {
    font-family: 'DS-Digital';
    src: url('DS-Digital.woff2') format('woff2'),
         url('DS-Digital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain O Matic';
    src: url('PlainOMatic.woff2') format('woff2'),
        url('PlainOMatic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commodore 64 Angled';
    src: url('Commodore64Angled.woff2') format('woff2'),
        url('Commodore64Angled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Republica Minor';
    src: url('RepublicaMinorRegular.woff2') format('woff2'),
        url('RepublicaMinorRegular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anton';
    src: url('Anton-Regular.woff2') format('woff2'),
        url('Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Console';
    src: url('LucidaConsole.woff2') format('woff2'),
        url('LucidaConsole.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #c8aaff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Center container horizontally */
    padding: 0 15px; /* Add padding for responsiveness */
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    max-width: 1200px; /* Same width as container */
    margin: 0 auto; /* Center container horizontally */
    padding: 0 15px; /* Add padding for small screens */
    box-sizing: border-box;
    position: relative;
    background-color: black; /* Ensure background is consistent */
    z-index: 1000; /* Ensure it stays on top of other content */
}

header {
    display: flex;
    justify-content: space-between; /* Space between image, button, and language options */
    align-items: center; /* Center vertically */
    padding: 10px 0;
}

.header-image {
    width: 100%;          /* Make the image take up the full width of the container */
    height: auto;         /* Maintain the aspect ratio */
    display: block;       /* Remove any extra spaces under the image */
}

.hamburger {
    display: none; /* Hide the hamburger menu for now; can be shown in responsive views */
}

.header-language-options {
    display: flex;
    align-items: center;
}

.header-language-options a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px; /* Adjusted margin to widen the space between the links */
}

.header-language-options a:hover {
    color: #c8aaff;
}

nav {
    width: 100%;
}

.nav-menu {
    max-width: 1200px; /* Same width as container */
    margin: 0 auto; /* Center horizontally */
    overflow: hidden; /* Hide overflow for animation */
    transition: max-height 0.3s ease-out; /* Smooth animation */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    box-sizing: border-box;
}

nav ul li {
    font-size: 1.5rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a {
    padding: 5px 50px 5px 15px;
    display: block;
}

@media (max-width: 720px) {
    .footer-container {
        display: none;
    }
}

footer {
    width: 100%;
    background-color: black;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Distribute space between columns */
    align-items: center; /* Center vertically */
    width: 100%;
    max-width: 1200px; /* Ensure it's centered with the same max-width as your container */
    margin: 0 auto; /* Center the footer */
    padding: 10px 15px; /* Add padding for responsiveness */
    box-sizing: border-box;
}

.footer-column {
    flex: 1; /* Allow columns to take equal space */
    text-align: center;
}

.footer-column.contact {
    text-align: left; /* Align contact info to the left */
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-column a:hover {
    color: #c8aaff;
}

.search input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

h1, h2, h3, ul {
    color: white;
}

h1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset position to truly center */
    font-size: 4rem;
    font-family: "Anton", sans-serif;
    text-align: center;
    font-weight: 400;
    z-index: 10;
}

p {
    text-align: left;
    font-weight: 100;
    color: white;    
    font-family: poppins-extralight, poppins, sans-serif;
    font-optical-sizing: auto;
    line-height: 2;
    font-size: clamp(0.7rem, 2vw + 0.2rem, 1rem);
}

h3 {
    font-family: 'Republica Minor', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    color: black;
    background-color: #d3d3d3;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

h4 {
    font-family: 'Plain O Matic', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.3em;
}

h5 {
    font-family: 'Commodore 64 Angled', sans-serif;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.1rem;
    letter-spacing: 0;
}

.subtitle {
    font-family: 'DS-Digital', sans-serif;
    font-size: 10px;
    letter-spacing: 0.2em;
}

.project-columns {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 48%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Default to horizontal layout */
    grid-gap: 10px;
    margin-top: 10px;
}

.project-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .project-img {
        grid-template-columns: 1fr; /* Stack images vertically */
    }
}

.project-support {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.support-center-column, .support-right-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-logo {
    max-width: 200px;
    height: auto;
    margin: 0 10px;
}

.project-support a {
    font-family: 'Plain O Matic', sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1rem;
}

.project-support a:hover {
    color: #c8aaff;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    .project-columns {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }
}
