@font-face {
    font-family: 'DS-Digital';
    src: url('DS-Digital.woff2') format('woff2'),
         url('DS-Digital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain O Matic';
    src: url('PlainOMatic.woff2') format('woff2'),
        url('PlainOMatic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commodore 64 Angled';
    src: url('Commodore64Angled.woff2') format('woff2'),
        url('Commodore64Angled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Republica Minor';
    src: url('RepublicaMinorRegular.woff2') format('woff2'),
        url('RepublicaMinorRegular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anton';
    src: url('Anton-Regular.woff2') format('woff2'),
        url('Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Console';
    src: url('LucidaConsole.woff2') format('woff2'),
        url('LucidaConsole.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Paladins Condensed';
    src: url('PaladinsCondensed.woff2') format('woff2'),
        url('PaladinsCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    height: 100%;
    font-family: 'Lucida Console', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #c8aaff;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header-container {
    position: relative;
    margin-bottom: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: auto;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

.header-language-options {
    font-family: 'Lucida Console', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.header-language-options a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.header-language-options a:hover {
    color: #c8aaff;
}

#hamnav {
    width: 100%;
    max-width: 1400px;
    background: #000;
}

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    font-family: "Anton", sans-serif; /* Apply Anton font */
}

#hamnav label, #hamburger {
    display: none; /* Hide hamburger button on larger screens */
}

/* Responsive styles for small screens */
@media screen and (max-width: 768px) {
    .header-language-options {
        display: none; /* Hide language options on small screens */
    }

    #hamnav label {
        display: inline-block;
        color: white;
        background: black;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    #hamitems {
        display: none;
        flex-direction: column;
        width: 100%;
        background: black; /* Ensure the menu has a background */
        z-index: 9;
    }

    #hamburger:checked ~ #hamitems {
        display: flex;
    }

    #hamitems a {
        border-top: 1px solid #333;
        box-sizing: border-box;
    }
    .project-support {
        flex-direction: column;
        align-items: flex-start;
      }
    
    .project-support img {
        width: 100%;
        margin-bottom: 10px;
    }
    .project-columns {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }
    .funder-logo {
        max-width: 100px;
      }
}

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

footer {
    background-color: black;
    margin-top: auto;
    font-family: "Anton", sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 15px;
    box-sizing: border-box;
    
}

.footer-column {
    flex: 1;
    text-align: center;
}

.footer-column.contact {
    text-align: left;
    font-family: "Anton", sans-serif;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-column a:hover {
    color: #c8aaff;
}

.search input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

h1, h2, h3, p, .project-img-main, .project-img img {
    width: 100%; /* Ensure full width within the container */
    max-width: 100%; /* Prevent overflow */
}

h1, h2, h3, ul, p {
    color: white;
}

h1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset position to truly center */
    font-size: 4rem;
    font-family: "Anton", sans-serif;
    text-align: center;
    font-weight: 400;
    z-index: 10;
}

h2{
    font-family: 'Plain O Matic'; 
    font-size: clamp(0.5rem, 2vw + 0.5rem, 1rem);
    font-weight: 100;
}
p {
    text-align: justify;
    font-weight: 100;   
    font-family: poppins-extralight, poppins, sans-serif;
    font-optical-sizing: auto;
    line-height: 2;
    font-size: clamp(0.7rem, 2vw + 0.2rem, 1rem);
    letter-spacing: 1px;
    word-spacing: 2px;
}

h3 {
    font-family: 'Republica Minor', sans-serif;
    font-size: clamp(0.5rem, 2vw + 0.5rem, 1.5rem);
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    color: black;
    background-color: #edecec;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

h4 {
    font-family: 'Plain O Matic', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
    letter-spacing: 0.5em;
}

h5 {
    font-family: 'Commodore 64 Angled', sans-serif;
    font-size: clamp(0.5rem, 2vw + 0.2rem, 0.7rem);
    margin-top: 0;
    margin-bottom: 0.3rem;
    letter-spacing: 0.2em;
}
h6 {
    font-size: 1.5em;
    color: black;
    background-color: white;
    font-family: 'Plain O Matic', sans-serif;
    margin: 1rem 0;
}
.h7{
    font-family: 'Paladins Condensed';
    font-size: clamp(1rem, 2vw + 0.2rem, 1.5rem);
    letter-spacing: 0.2em;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.subtitle {
    font-family: 'DS-Digital', sans-serif;
    font-size: 10px;
    letter-spacing: 0.2em;
}

img {
    display: block;
}

.project-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
}

.left-column, .right-column {
    width: 44%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*individual project pages*/
.project-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 5px;
    margin-top: 10px;
}

.project-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.fundingplacessubtitle{
    font-family: 'Commodore 64 Angled', sans-serif;
    font-size: clamp(0.5rem, 2vw + 0.2rem, 1rem);
    letter-spacing: 0.2em;
}
@media (max-width: 600px) {
    .project-img {
        grid-template-columns: 1fr; /* Stack images vertically */
    }
    html, body {
        padding: 0 10px;
    }
}

.project-support {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 5px;
    max-width: 1000px;
}

.supportfunding {
    max-width: 1000px;
    justify-content: space-between;
}

.support-left-column, .support-center-column, .support-right-column {
    display: flex;
    justify-content: center;
}

.project-logo {
    width: 100px;
    height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 720px) {
    .footer-container {
        display: none;
    }
}

.logofunding {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
.funder-logo {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin: 10px;
    object-fit: contain;
  }

/*all project page*/
.project {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px; 
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

.project:hover .project-img-overlay {
    opacity: 1;
}

.projects-page-title {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 10px;
}

.read-more {
    position: absolute;
    bottom: 20px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    font-size: 1.25rem; 
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

/* 'about' page specifics */
.about {
    max-width: 1400px;
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

#aboutprofilepicture {
    flex-shrink: 0;
    max-width: 250px; 
    height: auto; 
}

.about p {
    max-width: 1100px;
    line-height: 1.6;
}
.about-news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Mosaic style */
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.mosaic-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease;
}

.img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-wrapper:hover::after {
    opacity: 1;
}

/* Overlay for headings */
.about-news .img-wrapper h1, 
.about-news .img-wrapper h2, 
.about-news .img-wrapper h4, 
.about-news .img-wrapper h5 {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.about-news .img-wrapper h1, 
.about-news .img-wrapper h2, 
.about-news .img-wrapper h3, 
.about-news .img-wrapper h4, 
.about-news .img-wrapper h5 {
    position: absolute;
    color: white;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Custom positioning for each heading */
.about-news .img-wrapper h1 {
    top: 10px;
}

.about-news .img-wrapper h2 {
    top: 50px;
}

.about-news .img-wrapper h3 {
    bottom: 50px;
}

.about-news .img-wrapper h4 {
    bottom: 80px;
}

.about-news .img-wrapper h5 {
    bottom: 10px;
}
