@font-face {
    font-family: 'Commodore 64 Angled';
    src: url('Commodore64Angled.woff2') format('woff2'),
        url('Commodore64Angled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commodore 64 Rounded';
    src: url('Commodore64Rounded.woff2') format('woff2'),
        url('Commodore64Rounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commodore 64';
    src: url('Commodore64.woff2') format('woff2'),
        url('Commodore64.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

