@font-face {
    font-family: 'Republica Minor';
    src: url('RepublicaMinorRegular.woff2') format('woff2'),
        url('RepublicaMinorRegular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

